<hr>
<hr>


<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://lh3.googleusercontent.com/H1LmtdJToXgesyyXKRdUVIoS9Gxp9DpjpeheOhENPX-HMLxHLby2-LfX7tyBvcfXPcvev6FPBrxGpL0=s412-e7"></ion-img>
    </ion-card>

      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <ion-button style="width:40%" [href]="'/tabs/tab2'">Cinesystem</ion-button>
      <hr>
      <ion-button style="width:40%" [href]="'/tabs/tab3'">Cine Dunas</ion-button>
      <hr>
      <ion-button style="width:40%" [href]="'/tabs/tab4'">Cinesercla</ion-button>
      <hr>
      <ion-button style="width:40%" [href]="'/tabs/feed'">Localização</ion-button>
</ion-content>
